.tabs__content {
  background: yellow;
}



.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  padding: 0 12px 0 5px; /* jam in breathing room and deal with scrollbars... 
      why isn't scrollbar ok automatically??? @ToDo: deal with scrollbar
      in App.css, or try to get rid of it. Not sure if breathing room
      can't be part of design instead of jammed in here. */
}




#menu {
  background-color: #F6F7F9;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
/*
 * #cbModal ul {
  height: 40px;
}
#cbModal ul li {

  vertical-align: top;
}
*/
ul.tabs__labels {
  padding: 0;
  height: 38px;
  width: 100%;
  overflow: none;
}
ul.tabs__labels li {
  height: 38px;
}
.menuTab {
  text-align: center;
  color: #333;
  cursor: pointer;
  float: left; /* or inline-block? */
  padding: 6px 12px;
  margin: 0 0 0 -1px;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
}
.cbbContent {
  padding-top: 4px; /* breathing space at top of sg's */
  height: 305px;
  overflow-y: scroll; /*cbModal height (360) - menuTab.undefined height (51) - padding-top (4) */
}
/* from @b, what for? */
.active { background-color: #ddd; }
.deselectTab { background-color: #F6F7F9; } /*#F6F7F9*/

/***### tabs__content ###***/
.tabs__content {
  /*overflow-y: scroll;*/
  clear: both;
}
/*  BELOW HERE IS LARGELY OLD DESIGN. Above is cut-and-paste from
 *  cbbModal.css ... Not sure where going yet */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  background-color: #550b8e; 
}
nav { 
  width: 100%;
  background-color: pink;
  padding: 2px;
  font-weight: normal;
} 
nav div {   /* why isn't .home working here? I need sleep? */
  float: right;
  padding-left: 6px;
  background: #38075f;
  width: 80px;
}


nav li {
    float: left;
}

nav div a,
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav div a:hover,
nav li a:hover {
    background-color: #111;
}
nav li.active a {
  background-color: green;
  border: 7px solid #543;
}
/*** Help!!! Classes look right, but somehow not kicking in. ***/
.active {
  background-color: red;
  border: 15px solid red;
}

/* not final design, fix this up @ToDo */ 
nav li:first-child {
  background-color: green;
}
