.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  padding: 0 12px 0 5px; /* jam in breathing room and deal with scrollbars... 
      why isn't scrollbar ok automatically??? @ToDo: deal with scrollbar
      in App.css, or try to get rid of it. Not sure if breathing room
      can't be part of design instead of jammed in here. */ 
}





/* HEY, keep this or not! From original stylesheet @ToDo */

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .toggleAll,
  .todoList li .toggle {
    background: none;
  }

  .todoList li .toggle {
    height: 40px;
  }

  .toggleAll {
    transform: rotate(90deg);
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
